.addtocart{
    display: flex;
    width: 100%;

    button{
        cursor: pointer;
    }

    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: $orange;
        border: none;

        border-radius: 8px;

        margin: 0 24px;

        color: $white;

        padding: 0;

        // font-weight: 700;

        box-shadow: 0 8px 32px -8px $orange50;

        img{
            margin-right: 16px;
            height: 16px;
            filter: brightness(95);
        }
    }
}

@media only screen and (max-width: 1024px){
    .addtocart{
        display: grid;
        grid-template-columns: minmax(0,1fr) minmax(0,1.5fr);

        grid-column-gap: 24px;

        &__btn{
            height: 48px;

            margin:0;
        }
    }
}

@media only screen and (max-width: 501px){
    .addtocart{
        display: flex;
        width: 100%;
        flex-direction: column;

        &__btn{
            height: 48px;

            margin: 16px 0;
        }
    }
}