// COLOURS

$orange: hsl(26, 100%, 55%);
$orange50: hsl(26, 100%, 55%, 50%);
$orange-pale: hsl(25, 100%, 94%);

// NEUTRAL

$blue-vd: hsl(220, 13%, 13%);
$blue-grey-d: hsl(219, 9%, 45%);
$blue-grey: hsl(220, 14%, 75%);
$blue-grey-l: hsl(223, 15%, 90%);
$white: hsl(0, 0%, 95%);
$black: hsl(0, 0%, 0%, 75%);
$black50: hsl(0, 0%, 0%, 33%);