@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import './_global_vars';
@import './components/navbarDesktop/NavbarDesktop.scss';
@import './components/navbarMobile/NavbarMobile.scss';
@import './components/gallery/Gallery.scss';
@import './components/addToCart/AddToCart.scss';
@import './components/addToCart/cartAmt/CartAmt.scss';
@import './components/cartComponent/Cart.scss';
@import './components/lightbox/Lightbox.scss';
@import './components/lightbox/lightboxGallery/LightboxGallery.scss';
@import './components/galleryMobile/GalleryMobile.scss';

*{
  margin: 0;
  box-sizing: border-box;
}

button{
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  font-family: 'Kumbh Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
